* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

p {
    padding: 5px;
}

body {
    background-color: rgb(240, 86, 86);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}

li {
    padding: 3px;
}

button {
    margin-left: 20px;
    font-size: 20px;
    background-color: rgb(241, 225, 225);
}

h3, h4 {
    margin: 20px;
    margin-bottom: -40px;
    padding: 20px;
    font-size: x-large;
}

.container, .container-ingredients, .container-steps {
    margin: 20px;
    padding: 20px;
    background-color: rgb(238, 189, 189);
    font-size: large;
}