* {
    margin: 1px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: antiquewhite;
}

li {
    background-color: rgb(235, 240, 241);
    font-size: 22px;
    border: 2px solid;
    padding: 15px;
    margin: 5px;
}

.header {
    border: 2px solid;
    padding: 30px;
    margin-bottom: 125px;
    background-color: beige;
}